body {
  background-image: url("../img/diary_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header{
  background-color:rgba(39, 39, 39, 0.9);
}
